.app_add_form {
	margin-top: 2rem;
	padding: 1.5rem;
	background-color: #3d5a80;
	border-radius: 0.25rem;
	box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
	color: #fff;
}

.add_form {
	margin-top: 1.5rem;
	& input {
		width: 350px;
		margin-right: 2rem;
	}
}
